*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root{
    font-size: 20px;
    --body-background:#F2E9E2;
    --white:#fff;
    --silik-gri:#858585;
    --main-green: #3F8269;
}

.flex-center{
     display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: var(--body-background);
}

main{
    display: flex;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: calc((100vh - 400px)/2); /*Css calc function --> önemli */
    border-radius: 1rem;
    background-color: var(--white);
    overflow: hidden;
}

main > div{
    width: 50%;
}

.main-text{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main-text-header-one{
    font-family: "Rajdhani";
    margin-bottom: 10px;
    color: var(--silik-gri);
}   

.main-text-header-two{
    font-family: "Playfair Display";
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
}

.main-text-header-three{
    font-family: "Ubuntu";
    margin-bottom: 20px;
    font-size: 17px;
    color: var(--silik-gri);

}

.main-text-price{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-text-price-new{
    font-family: "Abhaya Libre";
    color: var(--main-green);
    font-size: 32px;
    font-weight: 700;
    margin-right: 20px;
}

.main-text-price-old{
    text-decoration: line-through;
    font-size: 12px;
    padding-top: 5px;
    color: var(--silik-gri);

}


.main-text-button{
    width: 100%;
    height: 40px;
    background-color: var(--main-green);
    border-color: var(--main-green);
    border-radius: 5px;
   
}

.main-text-button-image{
    height: 20px;
    margin-right: 5px;
}

.main-text-button-text{
    color: var(--white);
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: bold;
}

.main-image > img{
    max-width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

html{
    cursor: pointer;
}